.container
  .row
    h1.text-center Please Login to Join a Book
    form.login(role='form' ng-submit='login(email, password)')
      .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
        fieldset
          .form-group
            input.form-control(type='email' ng-model='user.email' placeholder='Email address' required autofocus)
          .form-group
            input.form-control(type='password' ng-model='user.password' placeholder='Password' required)
          .form-group
            input.btn.btn-md.btn-primary.btn-block.btn-bottom(type='submit' value='Login')
          .form-group
            input.btn.btn-md.btn-default.btn-block.btn-bottom(type='button' value='Sign Up' ui-sref='register')
          .form-group
            button.form-control.facebook(type='button' ng-click='authenticate(\'facebook\')')
              i.fa.fa-facebook
              | &nbsp;Facebook
          .form-group
            button.form-control.linkedin(type='button' ng-click='authenticate(\'linkedin\')')
              i.fa.fa-linkedin-square
              | &nbsp;LinkedIn
          .form-group
            button.form-control.twitter(type='button' ng-click='authenticate(\'twitter\')')
              i.fa.fa-twitter
              | &nbsp;Twitter

